* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

.game-container {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1.5rem 3rem 3rem;
  background-color: #1d1d1d;
  color: white;
}

.title-and-scoreboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.scoreboard,
.game-description {
  font-size: 1rem;
}

.game-description,
.pokemon-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pokemon-container {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.pokemon {
  display: grid;
  place-items: center;
  width: 100%;
  border: 1px solid red;
}

.pokemon-name {
  text-align: center;
  width: 100%;
  /* border: 1px solid red; */
  font-size: 1.2rem;
}

img {
  width: 10vw;
  /* border: 1px solid red; */
}
