* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

.game-container {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 1.5rem 3rem 3rem;
  min-height: 100vh;
  background-color: #1d1d1d;
  color: white;
}

.title-and-scoreboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.scoreboard,
.game-description {
  font-size: 1rem;
}

.game-description,
.pokemon-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pokemon-container {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.pokemon {
  display: grid;
  place-items: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 1px 8px 0px rgba(235, 230, 230, 0.75);
  -webkit-box-shadow: 1px 1px 8px 0px rgba(235, 230, 230, 0.75);
  -moz-box-shadow: 2px 1px 8px 0px rgba(235, 230, 230, 0.75);
  transition: transform 0.6s ease-in-out;
}

.pokemon:hover {
  transform: scale(1.04);
  box-shadow: 1px 1px 8px 0px rgba(4, 227, 243, 0.75);
  -webkit-box-shadow: 1px 1px 8px 0px rgba(4, 227, 243, 0.75);
  -moz-box-shadow: 1px 1px 8px 0px rgba(4, 227, 243, 0.75);
}

.pokemon-name {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}

img {
  width: 10vw;
}
